<a href="https://colab.research.google.com/github/EonSeung99/Python/blob/master/CtoPython_201220.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#프로그램 사용자로부텉 두 개의 정수를 입력 받아서 두 수의 뺄셈과 곱셈의 결과를 출력하는 프로그램을 작성해보자.
def result(num1,num2):
  print(num1-num2, num1*num2)

result(10,2)

8 20

In [ ]:
#프로그램 사용자로부터 세 개의 정수 num1,num2,num3를 순서대로 입력 받은 후에, 다음 연산의 결과를 출력하는 프로그램을 작성해보자.
#num1xnum2+num3
def problem2(num1,num2,num3):
  print(num1*num2+num3)

problem2(2,4,6)

14

In [ ]:
#하나의 정수를 입력 받아서, 그 수의 제곱의 결과를 출력하는 프로그램을 작성해보자.
def sq(a):
  print(a**2)


sq(5)

25

In [ ]:
#입력 받은 두 정수를 나누었을 때 얻게되는 몫과 나머지를 출력하는 프로그램을 작성해보자.
def sol(a,b):
  print("몫은: ",a//b,"이고, 나머지는:",a%b,"입니다.")
  
sol(5,2)

몫은:  2 이고, 나머지는: 1 입니다.

In [ ]:
#입력 받은 세 개의 정수 num1,num2,num3를 대상으로 다음연산의 결과를 출력하는 프로그램을 작성해보자.
#(num1-num2)x(num2+num3)x(num3%num1)

def sol2(num1,num2,num3):
  print((num1-num2)*(num2+num3)*(num3%num1))

sol2(25,47,23)

-35420

In [ ]:
#프로그램 사용자로부터 양의정수를 하나 입력 받아서, 그 수만큼"Hello world!"를 출력하는 프로그램을 작성해보자. p.155~
a=int(input("양의 정수를 입력하시오:"))
num=0

while(num<a):
  print("Hello world!")
  num+=1

양의 정수를 입력하시오:3
Hello world!
Hello world!
Hello world!

In [3]:
#프로그램 사용자로부터 양의 정수를 하나 입력 받은 다음, 그 수만큼 3의 배수를 출력하는 프로그램을 작성해보자. 예를 들어서 5를 입력 받았다면,3,6,9,12,15,를 출력해야한다.

b=int(input("양의 정수를 입력하시오:"))
num=1
while(num<=b):
  print(3*num)
  num+=1

양의 정수를 입력하시오:5
3
6
9
12
15

In [13]:
#프로그램 사용자로부터 계속해서 정수를 입력받는다. 그리고 그값을 계속해서 더해 나간다. 이러한 작업은 프로그램 사용자가 0을 입력할 때까지 계속되어야 하며, 
#0이 입력되면 입력된 모든정수의 합을 출력하고 프로그램을 종료시킨다.

sum=0
while True:
  inp=int(input("정수를 입력하십시오:"))
  sum+=inp
  if inp==0:
    print(sum)
    break

정수를 입력하십시오:2
정수를 입력하십시오:3
정수를 입력하십시오:5
정수를 입력하십시오:0
10

In [17]:
#프로그램 상용자로부터 입력받은 숫자에 해당하는 구구단을 출력하되, 역순으로 출력하는 프로그램을 작성해보자.4
seed=int(input("정수를 입력하시오:"))
num=9
while (num>0):
  print(seed*num)
  num-=1

정수를 입력하시오:6
54
48
42
36
30
24
18
12
6

In [25]:
#프로그램 사용자로부터 입력받은 정수의 평균을 출력하는 프로그램을 작성하되, 다음 두가지 조건을 만족시켜야한다.
#1.먼저 몇개의 정수를 입력 할 것인지 프로그램 사용자에게 묻는다. 그리고 그 수만큼 정수를 입력받는다.
#2.평균값은 소수점 이하까지 계산해서 출력한다.
import numpy as np
sum=0
prob=int(input("몇개의 정수를 입력 받으시겠습니까?:"))
for i in range(prob):
  s=int(input("정수를 입력하시오:"))
  sum+=s

print(sum/prob)

몇개의 정수를 입력 받으시겠습니까?:8
정수를 입력하시오:3
정수를 입력하시오:7
정수를 입력하시오:8
정수를 입력하시오:3
정수를 입력하시오:5
정수를 입력하시오:1
정수를 입력하시오:8
정수를 입력하시오:0
4.375

In [58]:
#프로그램 사용자로부터 총 5개의 정수를 입력 받아서, 그수의 합을 출력하는 프로그램을 작성해보자, 단 정수는 반드시 1이상이어야한다,
#만약에 1미만의 수가 입력되는 경우에는, 이를 입력으로 인정하지 않고 재입력을 요구해야한다. 그래서 결국 1이상의 정수5개를 모두 입력 받을 수 있도록 프로그램을 완성해야한다.
num=1
sum=0
for i in range(5):
  que=int(input("정수를 입력하시오:"))
  if que<1:
    print("0보다 큰 실수를 입력하세요.")
    sum+=0
  sum+=que

print(sum)

정수를 입력하시오:3
정수를 입력하시오:4
정수를 입력하시오:0
0보다 큰 실수 입력
정수를 입력하시오:1
정수를 입력하시오:2
10

###아래의 출력을 보이는 프로그램을 작성해보자
### *
### 0 *
### 0 0 *
### 0 0 0 *
### 0 0 0 0 *